.page {
    /* Defines the top of each page as the
       edge that should be used for snapping */
    scroll-snap-align: none start;
}
.docScroller {
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Specifies that each element’s snap margin should
       align with a 100px offset from the top edge. */
    scroll-snap-padding: 100px 0 0;
    /* Encourages scrolling to end at a snap position when the
        operation completes, if it is near a valid snap position */
    scroll-snap-type: proximity;
}
<div class="docScroller">
    <div class="page">Page 1</div>
    <div class="page">Page 2</div>
    <div class="page">Page 3</div>
    <div class="page">Page 4</div>
</div>