#fix {
    width: 100%;
    top: 0;
    position: fixed;
    background-color:#fff;
    z-index:1;
  
}


#texcon {
    border:2px solid #ddd;
    padding:15px;
   margin:320px 0px 0px 0px;
    
 
}
#nummenu {
    margin: auto;
}
#icon {
    margin: auto;
}
#title {
    font-family: Verdana, serif;
    height: 70px;
    margin: auto;
    margin-bottom: 3%;
}
#cattext {
    font-family: Verdana, serif;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0%;
}
#why {
   
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 20px;
}
#when {
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 20px;
}
#how {
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 20px;
}
#text {} li {
    background-color: #dcdcdc;
    opacity: 0.9;
    font-family: Verdana, serif;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}
h1 {
    text-align: center;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 2%;
}
img {
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 4%;
}
#topnum {
    min-height: 50px;
    height: 50px;
    margin-top: 0%;
    background-color: #3b8476;
}
#topnum {
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 3px 5px 7px #666666;
    border: 1px solid black;
}
p {
    margin-top: 0%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    font-size: 45px;
    font-family: Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
#wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 500px;
    height: 200px;
}
#frameContent {
    width: 100%;
    height: 100%;
}