#fix {
    margin:auto;
    width: 100%;
    top: 0;
    position: fixed;
    background-color:#fff;
    border: 1px solid #000;
    
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
    
    z-index:1;
  
}
table {
    
    width:100%;
}

#texcon {
    margin:auto;
    padding:15px;
    margin:315px 0px 0px 0px;
   
    
 
}
#nummenu {
    margin: auto;
}
#icon {
    margin: auto;
}
#title {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-family: Verdana, serif;
    height: 70px;
    margin: auto;
    margin-bottom: 2%;
}
#cattext {
    font-family: Verdana, serif;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0%;
}
#why {
   
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 0%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow:10px 10px 5px #888888;
}
#when {
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow:10px 10px 5px #888888;
}
#how {
    background-color: black;
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow:10px 10px 5px #888888;
}
#text {
    
    
} 


li {
    
    opacity: 0.9;
    font-family: Verdana, serif;
    font-size:25px;
    text-align: left;
    border: 1px outset;
    border-radius: 5px;
}
h1 {
    text-align: center;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 2%;
}
img {
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 4%;
}

#topnum {
    font-weight:bold;
    font-size: 28px;
    font-family: Verdana, serif;
    text-align:center;
    min-height: 40px;
    height: 35px;
    margin-top: 0%;
    background-color: #3b8476;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    
    box-shadow: 3px 5px 7px #666666;
    
    
}


#nextnum {
    font-weight:bold;
    font-size: 28px;
    font-family: Verdana, serif;
    text-align:center;
     min-height: 40px;
    height: 40px;
    margin-top: 0%;
    background-color: #3b8476;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    margin-left: 30%;
    margin-right: 20%;
    box-shadow: 3px 5px 7px #666666;
    
    
}


#prevnum {
     font-weight:bold;
    font-size: 28px;
    font-family: Verdana, serif;
    text-align:center;
   min-height: 40px;
    height: 40px;
    margin-top: 0%;
    background-color: #3b8476;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    margin-left: 20%;
    margin-right: 30%;
    box-shadow: 3px 5px 7px #666666;
    
    
}

p {
    margin-top: 0%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    font-size: 45px;
    font-family: Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
#wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 500px;
    height: 200px;
}
#frameContent {
    width: 100%;
    height: 100%;
}